
*{
    --moz-column-rule-color: #000000;
    --moz-column-rule-color: #ffffff;
}

body{
    background-color:rgb(255, 215, 190);
    height: 100vh;
}

.field{
    font-weight: 700;
    margin: 0% auto;
    padding: 0%;
    max-width: 1280px;
    box-sizing: border-box;
    border-radius: 5%;
}

h1{
    color: #151515;
    font-size: 30px;
    text-align: center;
}

/* AQUI CONTÉM UMA CLASS DE PARÁGRAFO ÚNICO, PARA ALTERAÇÃO DE CORES E TAMANHO DA FONTE. ESPECÍFICO À ELES. */
.Single{
    color: rgba(20, 15, 15, 0.838);
    font-size: 27px;
}
.Single footer {
    font-size: small;
    
}

/*----------------*/

.field .Middle-of-the-site{
    display:flex;
}

.button-contato button::before{
    content: "";
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
    user-select: none;
   
}

/* estilo do cabeçalho */

.field .soon img{
    width: 200px;
    height: 200px;
    display: flex;
    align-self: flex-start;
    justify-content: flex-start;
}

.field .img-apex-site img {
    width: 200px;
    height: 200px;
    border-radius: 5%;
}

header {
    background-color: #2c0c0c;
    color: #fff;
    padding: 1px;
  
   
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
  
  
    box-shadow: 0 4px 8px rgba(31, 2, 2, 0.3); 
    border-bottom: 2px solid #300606;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header h1 {
    font-size: 24px; 
    font-weight: bold; 
    margin: 0;
  }
  
  header nav ul {
    list-style: none; 
    display: flex;
    gap: 20px;
  }
  
  header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
  }
  
  header nav ul li a:hover {
    color: #ddd;
  } 

  .container {
    max-width: 100%;
  }

#nav-footer ul { 
    padding:0px;
    margin:0px;
    list-style:none;
}

#nav-footer ul li { display: inline; }

#nav-footer ul li { 
    padding: 2px 10px; 
    display: inline-block; /* visual do link */ 
    text-decoration: none; 
}

/* SITE HISTORIA*/

h2{
    color: #151515;
    font-size: 30px;
    text-align: center;    
}

.field2{
    font-weight: 700;
    font-size: 20px;
    margin: 0% auto;
    padding: 0%;
    max-width: 1280px;
    box-sizing: border-box;
    border-radius: 5%;
}

.field2 .Middle-of-the-site2{
    display:flex;
    margin-top: 5%;
}

.field2 .img-historia img {
    width: 200px;
    height: 200px;
    border-radius: 5%;
}

/* MUNDO DO CHURRASCO */

h3{
    color: #151515;
    font-size: 30px;
    text-align: center;    
}

.field3{
    font-weight: 700;
    font-size: 20px;
    margin: 0% auto;
    padding: 0%;
    max-width: 1280px;
    box-sizing: border-box;
    border-radius: 5%;
}

.field3 .Middle-of-the-site3{
    display:flex;
    margin-top: 5%;
}

.field3 .video-ensinamentos{
    display:list-item;
}

.soon {
    display: flex;
    justify-content: flex-start;
}

.soon img{
    width: 50%;
    height: auto;
    border-radius: 5%;

}